<!DOCTYPE html>
<html>
<head>
    <title>Formulario de Usuario</title>
</head>
<body>
    <h1>Formulario de Sucursal</h1>
    <form action="/addSucursal" method="POST">
        <label for="id">ID:</label>
        <input type="text" id="id" name="id" required />
        <br/>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required />
        <br/>
        <label for="director">Director:</label>
        <input type="text" id="director" name="director" required />
        <br/>
        <label for="direccion">Direccion:</label>
        <input type="text" id="direccion" name="direccion" required />
        <br/>
        <input type="submit" value="Agregar Sucursal" />
    </form>
</body>
</html>