<!DOCTYPE html>
<html>
<head>
    <title>Formulario para modificar una Sucursal</title>
</head>
<body>
<h1>Modificar Sucursal</h1>
<form action="/sucursales/modifySucursal" method="POST">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required />
    <br/>
    <label for="director">Director:</label>
    <input type="text" id="director" name="director" required />
    <br/>
    <label for="direccion">Direccion:</label>
    <input type="text" id="direccion" name="direccion" required />
    <br/>
    <input type="submit" value="Modificar Sucursal" />
</form>
</body>
</html>