<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Clientes</title>
    <style>
        table {
            width: 80%;
            margin: 20px auto;
            border-collapse: collapse;
        }

        th, td {
            padding: 10px;
            text-align: left;
            border: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        h1 {
            text-align: center;
        }
    </style>
</head>
<body>
<h1>Lista de Clientes</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>DNI</th>
        <th>Nombre</th>
        <th>Dirección</th>
        <th>email</th>
        <th>Telefono</th>
        <th>SucursalPrincipal</th>

    </tr>
    </thead>
    <tbody>
    <!-- Itera sobre la lista de sucursales -->
    <tr th:each="cliente : ${clientes}">
        <td th:text="${cliente.id}">ID</td>
        <td th:text="${cliente.dni}">DNI</td>
        <td th:text="${cliente.nombre}">Nombre</td>
        <td th:text="${cliente.direccion}">Dirección</td>
        <td th:text="${cliente.email}">Email</td>
        <td th:text="${cliente.telefono}">Telefono
        <td th:text="${cliente.sucursalPrincipal}">SucursalPrincipal</td>
    </tr>
    </tbody>
</table>
</body>
</html>